@import url(../css/common.css);
@import url(../css/layouts.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

.contents {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: var(--padding-base);

    .visual {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 60vh;
        font-family: "Nanum Myeongjo", sans-serif;
        font-weight: bold;
        font-style: normal;
        border: 1px solid var(--primary-color);

        .word {
            position: absolute;
            cursor: grab;
            font-size: 2.5rem;
            color: var(--primary-color);

            &.highlighted {
                font-weight: bold;
                color: var(--secondary-color);
            }
        }
    }
}

.area-common {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(500px, 500px);
    gap: var(--padding-base);
    margin: var(--padding-base) 0;
    font-family: var(--font-family-base);
    font-optical-sizing: auto;

    article {
        font-weight: bold;
        word-break: keep-all;
        border: 1px solid var(--primary-color);

        &.photo-box {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            &:nth-child(1) {
                background-image: url("https://img.vogue.co.kr/vogue/2024/09/style_66d6b5932cb6f-933x1400.jpg");

            }

            &:nth-child(6) {
                background-image: url("https://img.vogue.co.kr/vogue/2024/09/style_66d6b33f9f968.jpg");
            }

            &:nth-child(10) {
                background-image: url("https://img.vogue.co.kr/vogue/2024/09/style_66c6c700a5a3d-1120x1400.jpg");
            }
        }

        .inner {
            padding: 20px;

            h2 {
                font-size: 2rem;
                line-height: 3rem;
                margin-bottom: 2rem;
            }

            p {
                font-size: 1.4rem;
                line-height: 2.4rem;

                a {
                    color: var(--secondary-color);
                }
            }

            ul {
                li {
                    margin: 1.4rem 0;

                    dl {
                        display: flex;
                        font-size: 1.2rem;

                        dd {
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }

        .delete-line {
            text-decoration: line-through;
        }

        &:nth-child(1) {
            grid-column: 1 / span 2;
            grid-row: 1 / span 3;
        }
    }
}

.area-scroll {
    display: flex;
    position: relative;
    transition: all 0.8s linear;
    height: 100vh;
    --duration: 400ms;
    --delay: calc(var(--duration) / 2);
    --ease: cubic-bezier(0.25, 1, 0.5, 1);

    .scroll-inner {
        overflow: hidden;
        display: flex;
        position: relative;
        width: 100%;
        height: 100vh;

        h2 {
            display: none;
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: var(--white-color);
            text-shadow: 4px 4px 2px var(--primary-color);

            .text-inner {
                --padding: 8px;
                --duration: 400ms;
                --delay: calc(var(--duration) / 2);
                --ease: cubic-bezier(0.25, 1, 0.5, 1);

                overflow: hidden;
                position: relative;
                display: inline-block;
                font-size: 10vmin;
                margin-top: calc(var(--padding) * -1);
                padding: var(--padding);

                span {
                    display: block;
                    transform: translateY(110%);
                    transition: transform var(--duration) var(--ease);
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: calc(100% - var(--padding));
                    left: 0;
                    background-color: var(--white-color);
                    width: 100%;
                    height: 1.5vmin;
                    transform: scaleX(0);
                    transition: transform var(--duration) var(--delay) var(--ease);
                }
            }
        }

        .hero-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 130%;
            object-fit: cover;
        }

        &.on {
            h2 {
                font-weight: bold;
                transition-delay: var(--delay);

                .text-inner {
                    span {
                        transform: translateY(0);
                        transition-delay: var(--delay);
                    }

                    &::after {
                        transform: scaleX(1);
                        transition-delay: 0s;
                    }
                }

            }

        }
    }
}

@media screen and (max-width: 920px) {
    .contents {
        .visual {
            .word {
                font-size: 1.4rem;
            }
        }
    }

    .area-common {
        article {
            .inner {
                padding: 14px;

                h2 {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin-bottom: 1.3rem;
                }

                p {
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                }

                ul {
                    li {
                        margin: 1rem 0;

                        dl {
                            font-size: 1rem;

                            dd {
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .area-common {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);

        article {
            &:nth-child(1) {
                grid-column: inherit;
                grid-row: 1 / span 1;
            }
        }
    }
}