@import url(../css/common.css);
@import url(../css/layouts.css);
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap");
.contents {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: var(--padding-base);
  padding-bottom: 0;
}
.contents .visual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 60vh;
  font-family: "Nanum Myeongjo", sans-serif;
  font-weight: bold;
  font-style: normal;
  border: 1px solid var(--primary-color);
}
.contents .visual .word {
  user-select: none;
  position: absolute;
  cursor: grab;
  font-size: 2.5rem;
  color: var(--primary-color);
}
.contents .visual .word.highlighted {
  font-weight: bold;
  color: var(--secondary-color);
}

.area-common {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(500px, 500px);
  gap: var(--padding-base);
  margin: var(--padding-base) 0;
  font-family: var(--font-family-base);
  font-optical-sizing: auto;
}
.area-common:last-child {
  margin: 0;
}
.area-common article {
  font-weight: bold;
  word-break: keep-all;
  border: 1px solid var(--primary-color);
}
.area-common article.photo-box {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.area-common article.photo-box:nth-child(1) {
  background-image: url("https://img.vogue.co.kr/vogue/2024/09/style_66d6b5932cb6f-933x1400.jpg");
}
.area-common article.photo-box:nth-child(6) {
  background-image: url("https://img.vogue.co.kr/vogue/2024/09/style_66d6b33f9f968.jpg");
}
.area-common article.photo-box:nth-child(10) {
  background-image: url("https://img.vogue.co.kr/vogue/2024/09/style_66c6c700a5a3d-1120x1400.jpg");
}
.area-common article .inner {
  padding: 20px;
}
.area-common article .inner h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.area-common article .inner p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.area-common article .inner p a {
  color: var(--secondary-color);
}
.area-common article .inner ul li {
  margin: 1.4rem 0;
}
.area-common article .inner ul li dl {
  display: flex;
  font-size: 1.2rem;
}
.area-common article .inner ul li dl dd {
  margin-left: 1rem;
}
.area-common article .delete-line {
  text-decoration: line-through;
}
.area-common article:nth-child(1) {
  grid-column: 1/span 2;
  grid-row: 1/span 3;
}

.area-scroll {
  display: flex;
  position: relative;
  transition: all 0.8s linear;
  height: 100vh;
  --duration: 400ms;
  --delay: calc(var(--duration) / 2);
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}
.area-scroll .scroll-inner {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}
.area-scroll .scroll-inner h2 {
  display: none;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  text-shadow: 4px 4px 2px var(--primary-color);
}
.area-scroll .scroll-inner h2 .text-inner {
  --padding: 8px;
  --duration: 400ms;
  --delay: calc(var(--duration) / 2);
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-size: 10vmin;
  margin-top: calc(var(--padding) * -1);
  padding: var(--padding);
  font-family: var(--font-family-base);
}
.area-scroll .scroll-inner h2 .text-inner span {
  display: block;
  transform: translateY(110%);
  transition: transform var(--duration) var(--ease);
}
.area-scroll .scroll-inner h2 .text-inner:after {
  content: "";
  position: absolute;
  top: calc(100% - var(--padding));
  left: 0;
  background-color: var(--white-color);
  width: 100%;
  height: 1.5vmin;
  transform: scaleX(0);
  transition: transform var(--duration) var(--delay) var(--ease);
}
.area-scroll .scroll-inner .hero-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130%;
  object-fit: cover;
}
.area-scroll .scroll-inner.on h2 {
  font-weight: bold;
  transition-delay: var(--delay);
}
.area-scroll .scroll-inner.on h2 .text-inner span {
  transform: translateY(0);
  transition-delay: var(--delay);
}
.area-scroll .scroll-inner.on h2 .text-inner::after {
  transform: scaleX(1);
  transition-delay: 0s;
}

.sub {
  display: inherit;
  background: var(--white-color);
  border: 1px solid var(--primary-color);
}
.sub .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 3rem;
}
.sub .inner h2 {
  font-size: 2rem;
  font-weight: bold;
}
.sub .inner p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  margin: 30px 0;
}
.sub .inner .list-wrapper .list-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub .inner .list-wrapper .list-box li {
  margin: var(--padding-base);
  padding: 40px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-base);
}
.sub .inner .list-wrapper .list-box li h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.sub .inner .list-wrapper .list-box li button {
  position: relative;
  background: var(--secondary-color);
  font-size: 1.2rem;
  padding: 1rem 1.4rem;
  border: 3px solid var(--primary-color);
  border-radius: var(--border-radius-base);
  box-shadow: 5px 5px 0 var(--primary-color);
}
.sub .inner .list-wrapper .list-box li button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.sub .inner .list-wrapper .list-box li figure {
  width: 100%;
  height: 600px;
  margin-top: 40px;
}
.sub .inner .list-wrapper .list-box li figure img {
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 920px) {
  .contents .visual .word {
    font-size: 1.4rem;
  }
  .area-common article .inner {
    padding: 14px;
  }
  .area-common article .inner h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.3rem;
  }
  .area-common article .inner p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  .area-common article .inner ul li {
    margin: 1rem 0;
  }
  .area-common article .inner ul li dl {
    font-size: 1rem;
  }
  .area-common article .inner ul li dl dd {
    margin-left: 0.5rem;
  }
  .sub .inner {
    padding: var(--padding-base);
  }
  .sub .inner .list-wrapper .list-box {
    flex-direction: column;
  }
  .sub .inner .list-wrapper .list-box li {
    padding: 20px;
  }
  .sub .inner .list-wrapper .list-box li figure {
    height: 460px;
  }
}
@media screen and (max-width: 720px) {
  .area-common {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .area-common article:nth-child(1) {
    grid-column: inherit;
    grid-row: 1/span 1;
  }
}